<div class="filter-box">
        <h1>Restaurants</h1> 
        <div class="filter-choice">
            <form action="/restaurants/filter" method="GET">
            <label for="filter">Filter:</label>
            <select class="pricepoint" data-style="btn-info" name="price_point">
                <optgroup label="Select Price Point">
                    <option value="">All</option>
                    <option name="$" value="1">$</option>
                    <option name="$$" value="1">$$</option>
                    <option name="$$$" value="1">$$$</option>
                    <option name="$$$$" value="1">$$$$</option>
                </optgroup>
            </select>
            <select name="cat.id" data-style="btn-info" id="categoryU">
                    <optgroup label= "Select Category">
                        <option value="">All</option>
                        <option value="1">Japanese</option>
                        <option value="2">Chinese</option>
                        <option value="3">Italian</option>
                        <option value="4">Korean</option>
                        <option value="5">French</option>
                        <option value="6">American</option>
                        <option value="7">Greek</option>
                        <option value="8">Fusion</option>
                        <option value="9">Vietnamese</option>
                        <option value="10">Thai</option>
                        <option value="11">Buffet</option>
                        <option value="12">Kosher</option>
                        <option value="13">Comfort Food</option>
                        <option value="14">Cajun</option>
                        <option value="15">Seafood</option>
                        <option value="16">Vegeterian</option>
                    </optgroup>
                </select>
                <input type="submit" value="Filter">
            </form>
            </div>
    </div>