<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Comfortaa|Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>My Favorite Restaurant</title>
</head>
<body class="body">
    <div class="divBod">
        <div class="nav"></div>
        <nav class="nav-links">
            <a href="/" class="title"> My Favorite Restaurants</a>
            <a href="/restaurants" class="restnav">Home</a>
            <a href="#" class="restnav">My Fave</a>
            <a href="#" class="restnav">Add Fave</a>
            <a href="#" class="restnav">Sign-in</a>
        </nav>