<%- include('../partials/header') %>
<form action="/auth/login" method="post" class="login-table">
    <h1>Welcome to</h1>
    <h1>My Favorite Restaurant</h1>
    <h1>Login:</h1>
    <div class="log">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <br>
    <label for="password">Password:</label>
    <input type="text" name"password">
    <br>
    </div>
    <input type="submit" value="Log-in" class="sign-in">
</form>